.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  max-height: 100%;
  grid-template-rows: auto auto 1fr auto;      /*head messages bottom*/
}

.title{
  grid-column: 1;
  text-align: center;
}

.title h1{
  padding: 7px;
  margin: 0;
}

.head{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  padding: 7px;
}

.head .countusers{
  grid-column: 1;
  display: flex;
  color: white;
  align-items: center;
  justify-content: left;
  margin: 0;
}

.head .user{
  grid-column: 2;
  display: block;
  color: white;
  align-items: center;
  margin: 0;
}

.head .user input[type="text"]{
  float: right;
  margin: 0;
  padding: 3px;
}

.messages{
  overflow-y: auto;
  scroll-behavior: smooth;
}

.bottom{
  border-top: 1px solid black;
}

.bottom .formgrid{
  display: grid;
  margin: 0;
  grid-template-columns: 1fr auto;
  align-items: center;
  justify-content: left;
}


.bottom input[type="text"]{
  width: calc(100% - 20px);
  padding: 5px;
  margin: 10px;
}

.bottom button[type="submit"]{
  margin:10px;
}